html {
  font-size: 30px;
}

body {
}

.main {
  width: 1920px;
  height: 1030px;
  position: relative;
  overflow: hidden;
}

.game-area, #world, .game-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.game-area {
  /* background: rgba(255, 0, 0, 0.7); */
  /* border-bottom: 1px solid black; */
}

.game-background {
  background-color: #4e5dc5;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 2em 1em;
  text-align: center;
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.heading {
  margin: 1em 0;
  font-size: 1.5em;
  color: white;
}

.highscore-item {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  margin: 1em 0;
  padding-left: 0.5em;
  padding-right: 1em;
}

.highscore-item .name {
  flex-grow: 1;
  text-align: center;
  margin: 1em 0;
}

.highscore-item .avatar {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  border-radius: 50%;
}

.game-area > div {
  position: absolute;
  transform: translate3d(0, 0, 0);
}

.score-list {
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.qr-code-box {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: flex-start;
}

.dialog {
  background: white;
  border-radius: 20px;
  min-width: 600px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 1em;
  margin: 1em;
}

.dialog .score-list {
  width: auto;
}

.dialog .score-list > div {
  margin: 1em;
}

.dialog .score-list .name {
  margin: 0;
}

.game-intro {
  padding: 0.5em;
}

.game-intro div {
  margin: 0.5em;
}

.big-qr {
  height: 300px;
  width: 300px;
  margin: -0.5em;
}

.game-intro .step {
  width: 100%;
  text-align: left;
  margin-top: 1.5em;
}


.link {
  font-size: 0.7em;
  text-decoration: underline;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

.start-game {
  font-size: 1em;
  border: 1px solid #4E5DC4;
  background-color: transparent;
  border-radius: 10px;
  padding: 0.3em 0.5em;
  margin: 1em;
  color: #4E5DC4;
}

.time-left {
  position: absolute;
  top: 1em;
  left: 0;
  width: 100%;
  height: 2em;
  text-align: center;
  color: white;
  font-size: 1em;
}

.time-left.highlight {
  font-size: 3em;
}

.footer {
  position: absolute;
  bottom: 1em;
  right: 2em;
  font-size: 0.7em;
  text-align: center;
  color: white;
}

/* game screen */

.ball {
  width: 40px;
  height: 40px;
  opacity: 1;
  background-color: orange;
  background-size: 100% 100%;
  border-radius: 50%;
}

.cup {
  position: absolute;
  top: 500px;
  left: 500px;
  /* background-image: url('../assets/redcup.png'); */
  background-image: url('../assets/cup.png');
  background-size: 100% 100%;
  width: 100px;
  height: 132px;
}

.score-toast {
  animation-duration: 4s;
  animation-name: slideFade;
  animation-fill-mode: forwards;
  position: absolute;
  font-size: 1em;
  color: white;
  font-weight: bold;
}

@keyframes slideFade {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
