body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-size: 30px;
  color: white;
}

.intro {
  text-align: center;
  line-height: 150%;
}

.launcher, .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
  position: relative;
  flex-grow: 1;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.home {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: inherit;
}

.launcher {
  justify-content: space-between;
}

input {
  font-size: inherit;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 0.3em 1em;
  border-radius: 0.7em;
  border: 0;
  outline: 0;
}

button {
  background: transparent;
  border: 1px solid white;
  padding: 0.4em 1em;
  margin: 1em 0;
  text-align: center;
  border-radius: 1em;
  outline: 0;
  color: inherit;
  font-size: 1em;
}

.input-name {
  margin: 1em 0;
}

.hint {
  margin-top: 1em;
  font-size: 0.8em;
  opacity: 0.8;
}

.launcher, .player {
  user-select: none;
}

.player {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  bottom: 200px;
  left: calc(50% - 100px);
  /* border: 2px solid #bbb; */
  background-color: orange;
  background-size: cover;
  transition: opacity 0.2s;
  opacity: 0;
}

.visible {
  opacity: 1;
}

.animated {
  transition: opacity 0.2s, top 0.2s ease-out, left 0.2s ease-out;
}

.name {
  text-align: center;
}

.debug {
  display: none;
}
